@import './variables';
@import './animations';

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.bottom-nav {
  position: relative;
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
  background: $bottomNavGradient;
  padding: 2%;
}
.topnav {
  overflow: hidden;
  z-index: 10;
  background-color: $greenPrimary;
  left: 0;
  top: 0;
  display: block;
  min-width: 100%;
  a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 1em 1em;
    text-decoration: none;
    font-size: 1em;
    &:hover {
      background-color: #ddd;
      color: $blackPrimary;
    }
  }
  a.active {
    background-color: $greenDark;
  }
  .icon {
    display: none;
  }
}
.logo {
  max-width: 15em;
  padding: 0;
  margin: 0;
}
.gooey {
  position: relative;
  height: 5em;
  width: 50%;
  max-width: 11em;
}
.gooey-message {
  position: relative;
  border: solid 0.2em;
  border-color: $greenUtility;
  border-radius: 10px;
  width: auto;
  height: auto;
  margin-left: 3%;
  margin-right: 0.5%;
  padding: 1%;
  max-width: 55%;
  background: $blackPrimary;
  opacity: 0.85;
  font-size: 1.2em;
  color: $whitePrimary;
  word-wrap: break-word;
  &:after {
    content: ' ';
    position: absolute;
    left: -0.9em;
    top: 1.1em;
    border-top: 0.8em solid transparent;
    border-right: 1.1em solid $blackPrimary;
    border-left: none;
    border-bottom: 0.8em solid transparent;
  }
}
.user-img {
  position: relative;
  width: auto;
  height: 5em;
  max-width: 100%;
  max-height: auto;
}
.user-profile-section {
  padding: 0.1em;
  text-align: center;
  padding-right: 1em;
}
.user-message-section {
  margin-top: 2em;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  height: 50%;
}
.user-message {
  overflow: auto;
  border: solid 0.2em;
  border-color: $greenUtility;
  width: fit-content;
  border-radius: 10px;
  max-height: 10em;
  min-height: 35%;
  padding: 1em;
  padding-bottom: 0;
  background: $blackPrimary;
  font-size: 1.5em;
  opacity: 0.85;
  color: $whitePrimary;

  & :hover {
    border-color: $whitePrimary;
  }
}
.arrow {
  height: 0.1em;
  margin-top: 3em;
  border-top: 1em solid transparent;
  border-right: none;
  border-left: 2em solid $greenUtility;
  border-bottom: 1em solid transparent;
}
.message-collapse-button {
  padding: 8px;
  color: $greenUtility;
  background: transparent;
  border: none;
  font-size: 1em;
}

.user-name {
  text-align: center;
  font-size: 1em;
  color: $whitePrimary;
  font-family: 'Lucida Sans';
}
.response {
  position: relative;
  color: $whitePrimary;
  width: fit-content;
  height: auto;
  margin: 0.8em;
  font-size: 0.8em;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: $greenUtility 1px solid;
  background-color: $responseBackground;
  border-radius: 20px;
}
.cover-img {
  position: absolute;
  background-image: url('../img/ss_6.jpg');
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
.pruple-tint {
  position: relative;
  background: $backgroundTint;
  width: 100%;
  height: 100%;
}

/* Path Map Styling */

.svg {
  height: 500px;
}
.path-line {
  stroke: $whitePrimary;
  stroke-width: 5px;
}
.tooltip-line {
  stroke: $yellowPrimary;
  stroke-width: 3px;
}

/* Scrollbar Styling*/

/* Scrollbar */

.scroll {
  scroll-margin-right: 10px;
  & ::-webkit-scrollbar {
    width: 25px;
    padding: 10em;
    border-radius: 50px;
  }

  /* Handle */
  & ::-webkit-scrollbar-thumb {
    height: 6px;
    border: 8px solid $blackPrimary;
    background-clip: padding-box;
    border-radius: 50px;
    -webkit-border-radius: 80px;
    background-color: $greenDark;
    box-shadow: transparent;
    -webkit-box-shadow: inset -1.5px -1px 0em $yellowPrimary;
  }
}

/* Scrollbar Styling End */

/* Graph Styles */

.node {
  .c1 {
    fill: $greenGraph;
    stroke-width: 3px;
    stroke: $whitePrimary;
    pointer-events: all;
  }
  .c2 {
    fill: $whitePrimary;
    stroke-width: 3px;
    stroke: $blackPrimary;
    pointer-events: all;
  }
  &:hover {
    .c1 {
      fill: $whitePrimary;
      stroke: $greenGraph;
    }
    .c2 {
      fill: $greenGraph;
      stroke: $blackPrimary;
    }
    + {
      .tooltip {
        visibility: visible;
      }
    }
  }
}
.tooltip {
  visibility: hidden;
}

/* Styling for mobile screens */

@media screen and (max-width: 600px) {
  .gooey {
    width: 50%;
  }
  .user-img {
    max-height: 5em;
    height: auto;
    width: auto;
  }
  .user-message {
    padding: 0.1em;
    max-height: 15em;
    font-size: 1.2em;
  }
  .user-profile-section {
    padding-right: 0.5em;
  }
  .gooey-message {
    bottom: 5%;
    padding: 10px;
    font-size: 1.1em;
    overflow: visible;
    &:after {
      border-top: 5px solid transparent;
      border-bottom: 5px solid transparent;
      bottom: unset;
      top: 10px;
    }
  }
  .gooey-message.over-auto {
    margin-left: 150px;
    bottom: 5%;
    overflow: auto;
  }
  .topnav {
    a {
      &:not(:first-child) {
        display: none;
      }

      /* Show logo in Mobile view */
      &:nth-child(5n) {
        display: block;
      }
    }
    a.icon {
      float: right;
      display: block;
    }
  }
  .topnav.showmenu {
    position: fixed;
    .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    a {
      float: none;
      display: block;
      text-align: left;
    }
  }
}

/* Optimization for bigger screens */

@media screen and (min-width: 1420px) {
  .pruple-tint {
    font-size: 1.1rem;
  }
  .logo {
    max-width: 15.2rem;
  }
}
@media screen and (min-width: 1600px) {
  .pruple-tint {
    font-size: 1.3rem;
  }
  .logo {
    max-width: 15.25rem;
  }
}
@media screen and (min-width: 1920px) {
  .pruple-tint {
    font-size: 1.6rem;
  }
  .logo {
    max-width: 15.3rem;
  }
}
@media screen and (min-width: 2200px) {
  .pruple-tint {
    font-size: 2rem;
  }
  .logo {
    max-width: 15.35rem;
  }
}
@media screen and (min-width: 2700px) {
  .pruple-tint {
    font-size: 2.5rem;
  }
  .logo {
    max-width: 15.35rem;
  }
}
