$greenPrimary: green;
$greenDark: darkgreen;
$greenUtility: greenyellow;
$greenGraph: #7cb342;

$responseBackground: rgba(0, 255, 0, 0.1);
$topTipColor: darkblue;
$bottomNavGradient: linear-gradient(
  0deg,
  rgba(255, 255, 255, 0) 30%,
  rgba(255, 255, 255, 0.15) 50%,
  #e7e7e7 90%
);
$backgroundTint: rgba(143, 0, 166, 0.4);
$yellowPrimary: yellow;

$whitePrimary: white;
$blackPrimary: black;
